// src/app/footer/footer.component.scss
mat-toolbar {
    display: flex;
    justify-content: center; // Center content horizontally
    align-items: center; // Center content vertically (useful if toolbar height is increased)
    background-color: #5ebf67b0; // Matching the navbar color
    color: white;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0; // Positions the footer at the bottom of the viewport
    height: 60px; // Set a fixed height for the footer
}