// src/app/recipes/recipe-dialog/recipe-dialog.component.scss
.mat-dialog-title {
    flex: 1 1 auto;
    text-align: center;
    justify-content: center; // Center title text horizontally
    display: flex;
    align-items: center; // Center title text vertically
}

.mat-dialog-content {
    width: 100%; // Make sure the content takes full width
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mat-dialog-actions {
    justify-content: center; // Center actions
    display: flex;
    width: 100%; // Make sure actions take full width
    padding: 1rem; // Padding for aesthetics
}